* {
  box-sizing: border-box; /* Padding grows inward */
}

body {
  margin: 0;
  overflow-x: hidden;
  width: auto;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.jobs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.job-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  color: #213547;
}

p {
  margin: 5px;
}